@import "variable.scss";

html {
  font-size: 16px;
}

body, html {
  line-height: 1;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: $color-background;
  color: $color-text;
}

*,::after,::before {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

input {
  outline: none;
}

button:focus{
  outline:none;
}

.sm-sz-9 {
  display: inline-block;
  font-size: 12px;
  transform: scale(.7);
}

.sm-sz-10 {
  display: inline-block;
  font-size: 12px;
  transform: scale(.8);
}


.sm-sz-11 {
  display: inline-block;
  font-size: 12px;
  transform: scale(.9);
}

img[src=""],img:not([src]){
  opacity:0;
}

.a-look-all {
  &::after{
    content: '\67e5\770b\5168\90e8';
    display: inline;
  }
}

//input::-webkit-outer-spin-button,
//input::-webkit-inner-spin-button {
//  -webkit-appearance: none;
//}
//
//input[type="number"] {
//  -moz-appearance: textfield;
//}
