{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> .05%", "not ie <= 8"]
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-vue-jsx", "transform-runtime"]
}
